.nav {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    position: sticky;
    top: 0px;
}
.nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}